lxc.utsname = app<%= @id %>

lxc.tty = 4
lxc.pts = 1024
lxc.rootfs = <%= @target_path %>
lxc.mount  = <%= @fstab_file %>
lxc.arch = amd64

<% if options[:memory] %>lxc.cgroup.memory.limit_in_bytes = <%= options[:memory] %><% end %>
<% if options[:swap] %>lxc.cgroup.memory.memsw.limit_in_bytes = <%= options[:swap] %><% end %>
<% if options[:cpu] %>lxc.cgroup.cpuset.cpus = <%= options[:cpus] %><% end %>
<% if options[:cpu_share] %>lxc.cgroup.cpu.shares = <%= options[:cpu_share] %><% end %>

lxc.cgroup.devices.deny = a

# /dev/null and zero
lxc.cgroup.devices.allow = c 1:3 rwm
lxc.cgroup.devices.allow = c 1:5 rwm

# consoles
lxc.cgroup.devices.allow = c 5:1 rwm
lxc.cgroup.devices.allow = c 5:0 rwm
#lxc.cgroup.devices.allow = c 4:0 rwm
#lxc.cgroup.devices.allow = c 4:1 rwm

# /dev/{,u}random
lxc.cgroup.devices.allow = c 1:9 rwm
lxc.cgroup.devices.allow = c 1:8 rwm
lxc.cgroup.devices.allow = c 136:* rwm
lxc.cgroup.devices.allow = c 5:2 rwm

# rtc
lxc.cgroup.devices.allow = c 254:0 rwm

#fuse
lxc.cgroup.devices.allow = c 10:229 rwm

lxc.network.type=veth
lxc.network.link=br0
lxc.network.flags=up
